.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color_light, 0.5);
  backdrop-filter: blur(15px);
  z-index: 98;
  &_inside {
    z-index: 98 !important;
  }
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color_light;
  z-index: 99;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  width: 80vw;
  border-radius: 2vw;
  padding: 8vw 6vw;
  &_inside {
    z-index: 99 !important;
  }
  @include responsive("lg") {
    width: auto;
    border-radius: 0.5vw;
    padding: 4vw 3vw;
  }
  p {
    font-size: 4vw;
    font-family: "Steppe";
    font-weight: 700;
    text-transform: uppercase;
    @include responsive("lg") {
      font-size: 1vw;
    }
  }
  button {
    font-family: "Steppe";
    background: $color_primary;
    color: $color_light;
    border-radius: 10rem;
    border: none;
    font-size: 4vw;
    padding: 0.8vw 4.8vw 1.2vw 4.8vw;
    margin: 0 2vw 3vw 2vw;
    white-space: nowrap;
    cursor: pointer;
    @include responsive("lg") {
      font-size: 1vw;
      padding: 0.2vw 1.2vw 0.3vw 1.2vw;
      margin: 0 0.5vw;
    }
  }
}
.voted {
  height: 20vw;
  width: 68vw;
  margin-top: 5vw;
  margin-bottom: 8vw;
  @include responsive("lg") {
    margin-top: 3vw;
    height: auto;
    width: 50vw;
    margin-bottom: 3vw;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include responsive("lg") {
    flex-direction: row;
  }
  img {
    width: 60vw;
    height: 16vw;
    @include responsive("lg") {
      height: auto;
      width: 20vw;
      font-size: 4vw;
    }
  }
}
.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  @include responsive("lg") {
    flex-direction: row;
  }
  & > p {
    display: none;
    @include responsive("lg") {
      display: block;
    }
  }
  div {
    display: flex;
    align-items: center;
    margin: 4vw 4vw 0 4vw;
    @include responsive("lg") {
      margin: 0;
      font-size: 4vw;
    }
  }
  img {
    margin: 0 2vw;
    @include responsive("lg") {
      margin: 0 1vw;
      font-size: 4vw;
    }
    cursor: pointer;
  }
}
