$color_black: #000000;
$color_gray: #d9d9d9;
$color_light: #ffffff;
$color_body: #ededed;
$color_primary: #ff4f35;
$color_secondary: #0066ff;

$container: 90vw;
$container_sm: 85vw;
$container_md: 70vw;
$container_lg: 55vw;

$border_radius_sm: 8px;
$border_radius_md: 16px;
$border_radius_lg: 24px;
