.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  background: $color_light;
  width: 25vw;
  height: 55vh;
  border-radius: 0.6vw;
  padding: 1vw;
  overflow-y: scroll;
}
.add {
  margin-top: 3vw;
}
